*.pyc
tags
zcompdump

ninit.el
spaceinit.el

.cache
.netrwhist

.config/

elpa/
repos/
deps/
plugged/
custom/
undodir/
backups/
auto-save-list/
*.dat
/conf/emacs.d/recentf
/dot/spacemacs.d/settings.el
/dot/spacemacs.d/userconfig.el
