[submodule ".vim/bundle/vim-textobj-entire"]
	path = .vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/vim-textobj-xmlattr"]
	path = .vim/bundle/vim-textobj-xmlattr
	url = https://github.com/whatyouhide/vim-textobj-xmlattr.git
[submodule ".vim/bundle/vitality.vim"]
	path = .vim/bundle/vitality.vim
	url = https://github.com/sjl/vitality.vim.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".dircolors"]
	path = .dircolors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/vim-racer"]
	path = .vim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule ".vim/bundle/vim-numbertoggle"]
	path = .vim/bundle/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule ".vim/bundle/rainbow"]
	path = .vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule ".vim/bundle/vim-textobj-function"]
	path = .vim/bundle/vim-textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule ".vim/bundle/vim-textobj-function-javascript"]
	path = .vim/bundle/vim-textobj-function-javascript
	url = https://github.com/thinca/vim-textobj-function-javascript
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle/vim-textobj-underscore"]
	path = .vim/bundle/vim-textobj-underscore
	url = https://github.com/lucapette/vim-textobj-underscore.git
