[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-textobj-function"]
	path = .vim/bundle/vim-textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule ".vim/bundle/vim-textobj-function-javascript"]
	path = .vim/bundle/vim-textobj-function-javascript
	url = https://github.com/thinca/vim-textobj-function-javascript
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle/vim-textobj-underscore"]
	path = .vim/bundle/vim-textobj-underscore
	url = https://github.com/lucapette/vim-textobj-underscore.git
