*.log
*.dat
*.cache

keyfreq.el
keyfreq.lock
smex-items

recentf*

bookmarks
history
boot.el
places
projectile-bookmarks.eld

.cache/
elpa/
auto-save-list/
backups/
lisp/
server/
var/
thin-elpa-mirror/
speed-type/
hacker-typer/