.cache/
elpa/
auto-save-list/
backups/
lisp/
server/
var/
thin-elpa-mirror/
speed-type/
hacker-typer/
transient/

*.log
*.dat
*.cache

.persistent-scratch

keyfreq.el
keyfreq.lock
smex-items

recentf*

bookmarks
history
boot.el
places
tramp
projectile-bookmarks.eld
